[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple/"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
feeluown = {extras = ["battery"],version = "*"}
marshmallow = "*"
asyncqt = "*"
pyqt5 = "*"
feeluown-kuwo = {editable = true, path = "."}
fuo-kuwo = "*"

[scripts]
test = "pytest -v --ignore-glob='*_api.py'"
test-all = "pytest -v"
