[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple/"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
feeluown = {extras = ["battery"],version = "*"}
marshmallow = "*"
feeluown-kuwo = {editable = true,path = "."}
asyncqt = "*"
pyqt5 = "*"

[requires]
python_version = "3.8"

[scripts]
install-deps = "sudo apt install -y libmpv1"
test = "pytest -v --ignore-glob='*_api.py'"
test-all = "pytest -v"
